
@font-face {
font-display: swap;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F69002807427be874f7b46a98f8a611d2c5c5f52b.woff2?generation=1778021178828433&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F7e48d54b1df1d3f657fc90227590308183ff9ddc.woff2?generation=1778021178823343&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fbba020c0fd0426079872fdd7929a260b414845cd.woff2?generation=1778021178794189&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Ffffe793f52607740984a931ee7158aa82db94a72.woff2?generation=1778021178793923&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F6af69d307c33af0f3c4c3eb96ef01ea4390f474e.woff2?generation=1778021178792083&alt=media') format('woff2');
}
